---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#page-top" id="i18_title"><img alt="Brand" height="30px" src="static/img/landing/home.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.sections %}
                    <li>
                      <a class="page-scroll" href="#{{ section.id }}">
                        <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}

                {% for language in site.languages %}
                  <li>
                    <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
                      <img src="{{ language.flag | prepend: site.baseurl }}" height="16px" width="16px">
                    </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                     <img src="static/img/landing/laptop.png" alt="laptop"/> -
                </div>
            </div>
            < Set background for slide in css 
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            Set background for slide in css 
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->
<div style="text-align:center;width:100%;margin-top:65px">
<div id="wowslider-container1">
<div class="ws_images">
<ul>
    <li><img src="static\img\landing\slier1.jpg" title="几百黄昏声称海,此刻红阳可人心" alt="" /></li>
    <li><img src="static\img\landing\slier2.jpg" title="Dreaming my dream." alt="" /></li>
    <li><img src="static\img\landing\slier3.jpg" title="等那个时刻，最美好发生的时刻" alt="" /></li>
    <li><img src="static\img\landing\slier4.jpg" title="拥抱薰衣草在风中的味道" alt="." /></a></li>
    <li><img src="static\img\landing\slier5.jpg" title="流光似水年华，青春笑靥如花，散落天涯" alt="" /></li>
    <li><img src="static\img\landing\slier6.jpg" title="心有猛虎，细嗅蔷薇" alt="" /></li>
    <li><img src="static\img\landing\slier7.jpg" title="懂得越多，越是孤独" alt="" /></li>
    </ul>
</div>
</div>
</div>
<script type="text/javascript" src="static/theme1.js"></script>
{% for section in site.sections %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
