---
layout: blog
title: Blog
permalink: /blog/
---


<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Latest Blog</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="wrapper wrapper-content animated fadeInRight">

            <!-- latest 10 blog -->
			{% for post in site.posts limit:10 %}
            <div class="vote-item">
                <div class="row">
                    <div class="col-md-10">
                        <div class="vote-actions">
                        </div>
                        <a href="{{ post.url }}" class="vote-title">
                            {{ post.title }}
                        </a>
                        <div class="vote-info">
                        {% if site.changyan %}
                            <i class="fa fa-comments-o"> </i> <a>Comments (<span id = "url::{{post.url | prepend: site.url}}" class = "cy_cmt_count" ></span>)</a>
                        {% endif %}
                        {% if site.disqus %}
                            <i class="fa fa-comments-o"> </i> <a>Comments (<span class='disqus-comment-count' data-disqus-url="{{ site.url }}{{ post.url }}">0</span>)</a>
                        {% endif %}
                            <i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
                            <i class="fa fa-user"></i> <a>{{ site.author.name }}</a>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="vote-icon">
                            {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- 分页代码 -->
<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}    <p class="previous">
      {% if paginator.previous_page == 1 %}        <a href="/">Previous</a>
      {% else %}        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}    </p>
  {% else %}    <p class="previous disabled">
      <span>Previous</span>
    </p>
  {% endif %}  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}        <span class="current-page">1</span>
      {% else %}        <a href="/">1</a>
      {% endif %}    </li>

    {% for count in (2..paginator.total_pages) %}      <li class="page">
        {% if count == paginator.page %}          <span class="current-page">{{ count }}</span>
        {% else %}          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}      </li>
    {% endfor %}  </ul>

  {% if paginator.next_page %}    <p class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% else %}    <p class="next disabled">
      <span>Next</span>
    </p>
  {% endif %}</div>


        </div>
    </div>




</div>

